.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  > * {
    margin: 12px 0px;
  }
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-rows: repeat(3, 1r);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    > * {
      margin: 0px;
    }
  }
}

.link {
  cursor: pointer;
}
